# .env.example
STRIPE_SECRET_KEY=
STRIPE_BASIC_PRICE_ID=
STRIPE_PREMIUM_PRICE_ID=
PAYME_SELLER_KEY=MPL17764-94485R1C-VFNFCM5G-EBUCPSWQ
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
OUTLOOK_CLIENT_ID=
OUTLOOK_CLIENT_SECRET=
TWILIO_SID=
TWILIO_TOKEN=
SENDGRID_API_KEY=
MONGODB_URI=
GEMINI_API_KEY=
VITE_GOOGLE_CLIENT_ID=
VITE_STRIPE_PUBLIC_KEY=
VITE_FREE_MODE=true
